.page-not-found-page {
    text-align: center;
    width: 600px;
    margin: 22.5vh auto;
    background-color: white;
    padding: 20px 40px 50px 40px;
    
    border: 1px black solid;
}

.page-not-found-page .page-title {
    font-weight: bold;
}

.page-not-found-page .logo {
    cursor: pointer;
    filter: grayscale(1) invert(1);
}

.page-not-found-page .home-button {
    display: block;
    margin: 30px auto auto auto;
}