/* Contains the styling for the Users Groups page and its Group row component. */

.groups-page {
    background-color: white;
    min-height: 85vh;
    min-width: min-content;
    width: 80vw;

    border: 1px solid black;
    border-radius: 10px;
    margin: 1rem auto 1rem auto;
    padding: 0 2vw 1rem 2vw;
}

.groups-page .create-group-button {
    min-height: 2.7rem;
    width: 10rem;
    display: block;
    margin: 15px auto 25px auto;
}

.groups-page .no-groups-message {
    text-align: center;
}

.groups-page .group-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    border: 1px solid black;
    border-radius: 10px;
    padding: 6px;
    padding-right: 1.5vw;
    margin-bottom: 7px;
}

.groups-page .group-container:hover {
    cursor: pointer;
    background-color: rgb(245, 245, 248);
}

.group-container .group-item {
    display: flex;
    text-align: justify;
    flex-direction: row;
    align-items: center;
}

.group-container .group-picture {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.group-container .group-name {
    margin: auto auto auto 1vw;
}

.group-container .forums-button {
    height: 90%;
    min-width: min-content;
    width: 7vw;
    margin-right: 2vw;
}

.group-container .group-member-icon {
    margin-right: 1vw;
}

.group-container .group-member-number {
    margin: auto;
}