/* CSS for the about me pages. */

.about-me-page * {
    display: block;
    text-align: center;
    margin: auto;
}

.about-me-page .my-image {
    padding-top: 1rem;
    height: 17.5rem;
    width: 17.5rem;
}

.about-me-page .my-role {
    margin-top: 0.25rem;
}

.about-me-page .my-description {
    margin-top: 0.25rem;
    margin-bottom: 0.5rem;
    padding-left: 10%;
    padding-right: 10%;
}

.about-me-page .my-external-link {
    width: fit-content;
    font-size: 16px;
    margin-bottom: 0.25rem;
}

.about-me-page .my-external-link:hover {
    color: rgb(43, 43, 181);
}