.group-members-page {
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    min-height: 85vh;
    width: 90vw;
    text-align: center;
    margin: 1rem auto 1rem auto;
    padding: 0 2rem 1rem 2rem;
}

.group-members-page .page-title {
    margin-bottom: 1.5rem;
}

.group-members-page .group-member-container {
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    padding: 7px;
    padding-left: 15px;
    margin-bottom: 10px;
}

.group-members-page .group-member-container:hover {
    cursor: pointer;
    background-color: rgb(245, 245, 248);
}

.group-members-page .group-member-container .group-member-text {
    margin-left: 20px;
    margin-top: 10px;
}