.home-page {
	text-align: center;
}

/* The background color of the slogan a la medium.com */
.home-page .slogan-div {
	background-color: #CCC2E8;
	border-bottom: black solid 1px;

	/* Resize the background depending on the content in the div */
	min-height: 22rem;
	height: fit-content;
}

.home-page .slogan-image {
	margin-top: 1.25%;
	margin-bottom: 1.5%;
}

.home-page .slogan-body-text {
	font-size: 28px;
	margin-bottom: 2.25%;
}

.home-page .slogan-register-button {
	font-size: 20px;
	padding: 0.5% 1.5% 0.5% 1.5%; /* Makes the button bigger */
	border-radius: 10px; /* Rounds the button */
	margin-bottom: 4rem;
}

.home-page .features-container-title {
	font-size: 36px;
	font-weight: bold;
	padding: 3rem 0 3rem 0;
}

/* All of the feature rows/columns */
.home-page .features-container {
	width: 95%;
}

.home-page .features-box {
	background: white;

	border: black 1px solid;
	border-radius: 10px;
	padding-left: 20px;
	padding-right: 20px;
}

/* The top row of the features */
.home-page .features-row-1 {
	height: 12rem;
	margin-bottom: 1.75rem; /* separate feature row 1 from row 2 */
}

/* The bottom row of the features */
.home-page .features-row-2 {
	height: 12rem;
	width: 65%;
	margin: auto auto 5rem auto;
}

.home-page .feature-title {
	font-weight: bold;
	margin-top: 2.5%;
}

.home-page .feature-body {
	font-size: 20px;
}

/* Forums */
.home-page .features-col-forums {
	margin-right: 1.75rem;
}

/* Groups */
.home-page .features-col-groups {
	margin-left: 1.75rem;
}

/* Gator Chat */
.home-page .features-col-gator-chat {
	margin-right: 1rem;
}

/* Direct Messaging */
.home-page .features-col-direct-messaging {
	margin-left: 0.75rem;
}